<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Donation Center</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'donation_list' %}">Donations</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link">Welcome, {{ user.username }}</a></li>
          <li class="nav-item"><a href="{% url 'create_post' %}" class="nav-link">New Post</a></li>
          <li class="nav-item"><a href="{% url 'my_posts' %}" class="nav-link">Posts</a></li>
          <li class="nav-item"><a href="{% url 'logout_page' %}" class="nav-link"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
          <li class="nav-item"><a href="{% url 'registration_page' %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li class="nav-item"><a href="{% url 'login_page' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      {% block content %}
      {% endblock %}
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->
        <!-- Categories Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">Freebies</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">Tutorials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">What we do</h5>
          <div class="card-body">
            We give the opportunities to the social activity group so that they can find donation.
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Donation Center 2021</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body class="">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Donation Center</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}" class="">About</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class=""><a href="javascript:void(0);">Total Donation: {{ total_donation.amount__sum }} BDT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a>Welcome, {{ user.username }}</a></li>
          <li><a href="{% url 'create_post' %}" class="">New Post</a></li>
          <li><a href="{% url 'my_posts' %}" class="">Posts</a></li>
          <li><a href="{% url 'logout_page' %}" class=""><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
          <li><a href="{% url 'registration_page' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'login_page' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->
