<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body class="">
    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Donation Center</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}" class="">About</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class=""><a href="javascript:void(0);">Total Donation: {{ total_donation.amount__sum }} BDT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a>Welcome, {{ user.username }}</a></li>
          <li><a href="{% url 'create_post' %}" class="">New Post</a></li>
          <li><a href="{% url 'my_posts' %}" class="">Posts</a></li>
          <li><a href="{% url 'logout_page' %}" class=""><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
          <li><a href="{% url 'registration_page' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'login_page' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- Content Block -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer class="footer-bottom" style="margin-top: 10px;">
      <div class="container-fluid" style="background-color: #222222; color: #fff;">
        <div class="row">
          <div class="col">
            <p class="text-center copyright" style="margin-top: 10px;">&copy; 2021</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
