{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="col-lg-8">
  <h1 class="mt-4">Log in</h1>
  <form class="" action="{% url 'login_page' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <hr>
  <div class="">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
