{% extends 'base.html' %}
{% block content %}
<!-- Post Content Column -->
<div class="col-lg-8">
  <!-- Title -->
  <h1 class="mt-4">{{ post.title }}</h1>
  <!-- Author -->
  <p class="lead">by <a href="{% url 'organization' pk=post.author.id %}">{{ post.author }}</a></p>
  <hr>
  <!-- Date/Time -->
  <p>Posted on {{ post.date }}</p>
  <hr>
  <!-- Preview Image -->
  <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
  <hr>
  <!-- Post Content -->
  <p class="lead">{{ post.description }}</p>
  <hr>
</div>
{% endblock %}
