{% extends 'base.html' %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}

<div class="col-md-8">
  <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
  </h1>
  {% for post in post_list %}
  <!-- Blog Post -->
  <div class="card mb-4">
    <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.description | slice:"0:190" }}</p>
      <a href="{% url 'post' pk=post.id %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.date }} by
      <a href="{% url 'organization' pk=post.author.id %}">{{ post.author }}</a>
    </div>
  </div>
  {% endfor %}
  <!-- Pagination -->
  <!-- <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul> -->
</div>
{% endblock %}
