{% extends 'base.html' %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
<div class="col-md-8">
  <h1 class="my-4">Activies Post
    {% if author %}
    <small>{{ author }}</small>
    {% else %}
    <small>all organizations</small>
    {% endif %}
  </h1>
  {% for post in post_list %}
  <!-- Blog Post -->
  <div class="card mb-4">
    <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.description | slice:"0:190" }}</p>
      <a href="{% url 'post' pk=post.id %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.date }} by
      <a href="{% url 'organization' pk=post.author.id %}">{{ post.author }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
