{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="col-lg-8">
  <h1 class="mt-4">Registration</h1>
  <form class="" action="{% url 'registration_page' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">{{ form.username.label }}</label>
      {{ form.username }}
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">{{ form.email.label }}</label>
      {{ form.email }}
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">{{ form.password1.label }}</label>
      {{ form.password1 }}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword2">{{ form.password2.label }}</label>
      {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <hr>
  <div class="">
    {{ form.errors }}
  </div>
  <div class="">
    <p>Already have an account? <a href="{% url 'login_page' %}">Login</a></p>
  </div>
</div>
{% endblock %}
